  .sidebar {
    background-color: #01d8da;
    font-family: Arial, sans-serif;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-right: 75%;
 }

 button {
   display: ;
 }
