<main ng-controller="HomeCtrl as home">

<div class="wrapper">
    <div class = "menu">
        <header class = "nav-header">
            <h1>Bloc Chat</h1>
        </header>

        <!-- new rooms -->
        <button type="button" ng-click="home.addRoom()">New Room</button>


        <!-- List of rooms -->

        <div class = "rooms" ng-repeat= "room in home.rooms">
          <a ng-click = "home.setRoom(room)">{{ room.name }}</a>
          <a ng-click = "home.setRoom(room)">{{ room.$value }}</a>
        </div>
    </div>

<div class = "content">
  <h2>{{ home.currentRoom.name }}</h2>
  <h2>{{ home.currentRoom.$value }}</h2>
    <div class= "messsages" ng-repeat = "message in home.currentMessages">
      <p> {{ message.username }}</p>
      <p> {{ message.content }}</p>
      <p> {{ mesage.sentAt | date : "shortTime" }}</p>

    </div>
</div>

</div>
</main>
